@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please choose an option to continue:</p>

    <div class="mt-4">
        <a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Login">Sign In</a>
        <a class="btn btn-secondary btn-lg ml-2" asp-controller="Account" asp-action="Register">Sign Up</a>
    </div>
</div>
