@{
    ViewData["Title"] = "Reset Link Sent";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    If your email exists in our system and is confirmed, a password reset link has been sent to your inbox.
</p>
