@model TaskManager.ViewModels.SetPasswordViewModel

<form asp-action="SetPassword" method="post">
    <input asp-for="NewPassword" type="password" placeholder="Enter new password" />
    <input asp-for="ConfirmPassword" type="password" placeholder="Confirm password" />
    <button type="submit">Set Password</button>
</form>
